/* Write your code here. */

.card-container {
  border: 1px solid #9aa5b1;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 90%;
}
.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.horizantal-line {
  width: 100%;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.answer {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #9aa5b1;
}

.question {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #52606d;
}
